Repository dotnet/docker-tools, pull requests merged in 2023-07, with the labels that each got.

#1153 Pin to specific version of ManifestGeneratorTask
  eng/common/templates/jobs/build-images.yml
Labels: untriaged

#1155 Allow passing custom linuxAmd64Pool as object and not just string
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: untriaged

#1156 Revert "Allow passing custom linuxAmd64Pool as object and not just string (#1155)"
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: untriaged

#1158 Remove unused ImageBuilder az CLI Dockerfile
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.az.linux
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Labels: area-infrastructure, untriaged

#1165 Pin Alpine version to 3.17
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Labels: untriaged

#1168 Revert "Switch Windows Server 2022 CI legs to 1ES hosted pools (#1163)"
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: untriaged

#1169 Move back to alpine floating tag and don't check variant for arm64/(v8)
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Labels: area-documentation, untriaged
