Repository dotnet/docker-tools, pull requests merged in 2024-05, with the labels that each got.

#1266 Pass internalProjectName to copy-base-images from base image update pipeline
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Labels: untriaged

#1268 Fix various issues with new ImageBuilder pipeline step templates
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/set-dry-run.yml
Labels: untriaged

#1262 Define common API for querying registries
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Labels: untriaged

#1269 Remove service principal authentication from McrStatusClient
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IMcrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Labels: area-infrastructure, untriaged

#1272 Migrate AcrClient to Azure.Containers.ContainerRegistry
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryContentClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Catalog.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/DeleteRepositoryResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/GetTagsResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/ManifestAttributes.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthExchangeResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthTokenResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Repository.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/RepositoryManifests.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/EnumerableExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Labels: untriaged

#1274 Add missing export for IContainerRegistryContentClientFactory
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
Labels: untriaged

#1275 Perf improvements for CleanAcrImagesCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/EnumerableExtensions.cs
Labels: untriaged

#1279 Revert changes to task names in postPublishNotification args
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Labels: area-samples, untriaged

#1276 Remove Microsoft.IdentityModel.Clients.ActiveDirectory dependency
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Labels: area-documentation, untriaged

#1280 Fix casing for tasks of publish notification
  eng/common/templates/jobs/publish.yml
Labels: untriaged

#1281 Use case insensitive comparison for publish notify tasks
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PostPublishNotificationCommand.cs
Labels: area-infrastructure, untriaged

#1283 Use SBOM Manifest Generator Task from 1ES PT
  eng/common/templates/jobs/build-images.yml
Labels: untriaged

#1289 Opt-in to SBOM for unofficial pipelines
  eng/common/templates/1es-unofficial.yml
Labels: untriaged

#1287 Use service connection for MAR ingestion and use .default scope
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
Labels: untriaged

#1277 Use MSI for Kusto authentication
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Labels: untriaged

#1290 Use ACR service connection to login to ACR for test job
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/run-pwsh-with-auth.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Labels: untriaged

#1291 Upgrade package dependencies
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Labels: area-documentation, untriaged

#1292 Conditionally set task name
  eng/common/templates/steps/run-pwsh-with-auth.yml
Labels: untriaged

#1294 Fix task names for publish notification
  eng/common/templates/jobs/publish.yml
Labels: untriaged

#1293 Remove Build command requirement for service principal
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/DockerRegistryCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/RegistryCredentialsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerServiceCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IInnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/InnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/OAuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentials.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsHostExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestServiceExtensionsTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Labels: untriaged

#1301 Authenticate kusto command
  eng/common/templates/jobs/publish.yml
Labels: untriaged

#1306 Add simple test for MEF Dependency Injection
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/tests/DependencyInjectionTests.cs
Labels: area-documentation, untriaged

#1303 Add Registry credential options back to GetStaleImages command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesOptions.cs
Labels: untriaged

#1302 Remove ServicePrincipalOptions
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ServicePrincipalOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
Labels: untriaged

#1308 Switch to new secret variable group
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
Labels: untriaged

#1311 Add ORAS tool to Linux ImageBuilder images
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Labels: area-dockerfiles, untriaged

#1310 Refresh login token before publish
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/DependencyInjectionTests.cs
Labels: area-infrastructure, untriaged

#1314 Workaround for token failure in non-authenticated configurations
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/DependencyInjectionTests.cs
Labels: untriaged

#1320 Make better use of layer caching in Dockerfile
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Labels: area-infrastructure, untriaged
