Repository dotnet/docker-tools, pull requests merged in 2024-10, with the labels that each got.

#1454 Add pipeline support for Windows Server 2025
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
Labels: area-dockerfiles, untriaged

#1449 Trim matrix based on image cache state
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Labels: untriaged

#1457 Enable tsa and policheck in pipelines
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
Labels: area-infrastructure, untriaged

#1456 Support path filters for matrix trimming
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Labels: untriaged

#1461 Remove InnerManifestService by using interface default implementations
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IInnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/InnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestServiceDefaultImplementationTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Labels: area-documentation, untriaged

#1459 Support matrix trimming in pipeline
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/common.yml
Labels: untriaged

#1465 Fix test stage matrix generation
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Labels: untriaged

#1463 Add support for testing of internal builds
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Labels: untriaged

#1466 Add clean leg for buildtools-prereqs
  eng/pipelines/cleanup-acr-images.yml
Labels: untriaged

#1467 Support custom init steps for matrix job
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: untriaged

#1472 Update repo name variable used in Copy TSA Config
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Labels: untriaged

#1473 Supply isInternalServicingValidation to Windows 2025 build job
  eng/common/templates/stages/build-test-publish-repo.yml
Labels: untriaged

#1460 Add "unlisted/" to common officialRepoPrefixes
  eng/common/templates/variables/dotnet/build-test-publish.yml
Labels: untriaged

#1475 Add isInternalServicingValidation parameter to common-init-for-matrix-and-build.yml steps
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Labels: untriaged

#1474 Increase NuGet Chain Build Retry Policy
  eng/common/Install-DotNetSdk.ps1
Labels: untriaged

#1464 Allow multi-arch tags in MCR tags metadata templates
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateReadmesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Labels: untriaged

#1478 Clean dotnet/framework images that are EOL
  eng/pipelines/cleanup-acr-images.yml
Labels: untriaged
