Repository dotnet/docker-tools, pull requests merged in 2024-09, with the labels that each got.

#1418 Factor out image caching logic from BuildCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageCacheService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Labels: untriaged

#1421 Remove build hooks functionality
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Labels: untriaged

#1423 Minor updates for EOL annotation publishing
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/pipelines/annotate-eol-digests.yml
Labels: area-infrastructure, untriaged

#1425 Defer Docker login until just before pulling cached images during build command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
Labels: untriaged

#1432 Switch arg order to fix EOL publishing
  eng/common/templates/jobs/publish.yml
Labels: untriaged

#1429 Allow images to be excluded from cleaning
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Labels: area-infrastructure, untriaged

#1435 Consume image info output of publishImageInfo command
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Labels: untriaged

#1437 Fix dry run logic in publishImageInfo
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
Labels: untriaged

#1440 Fix build command for local dev scenario
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Labels: area-documentation, untriaged

#1442 generateEolAnnotationData: handle missing image info files
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
Labels: untriaged

#1445 Remove local tag logic
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageCacheService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Labels: untriaged

#1446 Enable relative links in Docker image tags tables
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Labels: untriaged

#1427 Image caching: query digest from registry instead of local image
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageCacheService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
Labels: untriaged

#1452 Update projects to .NET 9
  eng/common/Install-DotNetSdk.ps1
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/yaml-updater.csproj
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CommandExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/StringExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Labels: untriaged
