Repository dotnet/docker-tools, pull requests merged in 2024-04, with the labels that each got.

#1234 Set exit code in FilePusher
  eng/src/file-pusher/FilePusher.cs
Labels: untriaged

#1235 Use Mariner ARM64 VM image for public builds
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: untriaged

#1240 Add support for Azure Linux to ImageBuilder
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Labels: area-infrastructure, untriaged

#1242 Update azurelinux os name
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Labels: untriaged

#1239 Use custom templates for 1ES Pipeline Templates
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/pipelines/cg-detection.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
  eng/pipelines/upload-file.yml
Labels: untriaged

#1249 Update GetOSDisplayName to exclude -distroless
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
Labels: area-infrastructure, untriaged

#1252 Migrate Import Image to use Azure.ResourceManager.ContainerRegistry
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyBaseImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Services/AzureManagementFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IAzureManagementFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyBaseImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/AzureHelper.cs
Labels: untriaged

#1244 Fix test result publishing
  eng/common/templates/steps/test-images-linux-client.yml
Labels: untriaged

#1258 Use a default Linux pool for non-sdl tasks
  eng/common/templates/1es-official.yml
Labels: area-documentation, untriaged

#1259 Remove dependency on Azure Fluent package
  src/Microsoft.DotNet.ImageBuilder/src/BasicAuthenticationCredentials.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RegistryHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Labels: area-documentation, untriaged

#1261 Remove service principal authentication from CopyImages commands
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyBaseImagesCommandTests.cs
Labels: untriaged

#1263 Fix branch validation
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
Labels: area-infrastructure, untriaged
