Repository dotnet/docker-tools, pull requests merged in 2024-08, with the labels that each got.

#1372 Clean up unused packages and update remaining packages
  eng/src/file-pusher/file-pusher.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Labels: untriaged

#1374 Backport dotnet-docker changes to test arguments variables
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Labels: untriaged

#1375 Fix for waiting on annotation ingestion
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MarImageIngestionReporterTests.cs
Labels: area-infrastructure, untriaged

#1379 Extend CleanAcrImagesCommand with support for cleanup of EOL images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Labels: untriaged

#1382 Tweaks to the generated tags table documentation
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
Labels: untriaged

#1385 Login to Docker CLI in CleanAcrImagesCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Labels: untriaged

#1389 CleanAcrImages: don't use dry run for login
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
Labels: area-infrastructure, untriaged

#1395 Remove FloatingTagSuffix infrastructure
  eng/check-base-image-subscriptions-buildtools.json
Labels: area-infrastructure, untriaged

#1386 EOL Annotation pipeline updates
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/pipelines/annotate-eol-digests.yml
Labels: untriaged

#1394 Handle unknown state for MAR ingestion
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
Labels: untriaged

#1400 EOL annotation generation update to handle pre-release versions
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Labels: untriaged

#1402 Fix file-pusher pipeline failure when pushing files that contain `##vso` tasks
  eng/src/file-pusher/AzDoSafeTraceListenerWrapper.cs
  eng/src/file-pusher/FilePusher.cs
  eng/src/yaml-updater/YamlUpdater.cs
Labels: untriaged

#1393 Use azure linux for Image Builder container image
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Labels: untriaged

#1401 Use concurrency limiter when deleting repo manifests
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Labels: untriaged

#1399 Remove support for DockerfileGitCommitSha and TimeStamp system variables
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Options.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/TagInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
Labels: untriaged

#1405 Onboard .NET Docker Bot to secret manager
  .config/dotnet-tools.json
  .vault-config/secrets.yaml
  eng/pipelines/secret-management-weekly.yml
Labels: untriaged

#1408 Use repo prefix for EOL data logic
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Labels: area-infrastructure, untriaged

#1384 Clean EOL images
  eng/pipelines/cleanup-acr-images.yml
Labels: untriaged

#1411 Login to Docker for GenerateEolAnnotationDataCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Labels: untriaged

#1414 Reduce concurrent delete request count
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
Labels: untriaged

#1413 Push EOL annotations in publish stage
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/annotate-eol-digests.yml
Labels: untriaged

#1416 Dry run fix for GenerateEolAnnotationDataCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
Labels: untriaged

#1406 Use variables for default build agent pools and image names
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/jobs/copy-base-images-public-mirror.yml
Labels: area-documentation, untriaged

#1419 Avoid getting creds on dry run
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
Labels: area-infrastructure, untriaged
