Repository dotnet/docker-tools, pull requests merged in 2024-06, with the labels that each got.

#1295 Specify ACR for Copying Images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
Labels: area-documentation, untriaged, do-not-merge

#1321 Improve Azure token logic
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureScopes.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Labels: area-infrastructure, untriaged

#1324 Improve templating error reporting
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
Labels: untriaged

#1325 Catch Overflow exceptions to workaround OctoKit issue
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
Labels: area-infrastructure, untriaged

#1326 Pass through linuxArmBuildJobTimeout
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: untriaged

#1327 Delete unused variable
  eng/common/templates/variables/common.yml
Labels: untriaged

#1328 Explicitly reference Octokit package in ImageBuilder and revert #1325
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
Labels: untriaged

#1330 Move ArmClient initialization out of dry run
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Labels: untriaged

#1309 Pipeline Changes for Pushing Mirror and Build-Staging Repositories to Separate ACR
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
Labels: untriaged

#1333 Add pipeline for mirroring base images to cache ACR on a schedule
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/copy-base-images-staging.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/pipelines/mirror-base-images.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/jobs/copy-base-images-public-mirror.yml
Labels: untriaged

#1337 Replace rendering tool w/ custom implementation
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
Labels: untriaged

#1338 Use cache ACR for building images in public PR validation
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/tests/pipeline-validation/1.0/focal/amd64/Dockerfile
  eng/tests/pipeline-validation/1.0/focal/arm64v8/Dockerfile
Labels: untriaged

#1342 Refactor DockerRegistry hierarchy and dependencies
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/DockerRegistryCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/DockerRegistryOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Labels: untriaged

#1344 Update ORAS to the latest version 1.2.0
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Labels: untriaged

#1334 Add a new command for annotating image digests for EOL
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolAnnotationsData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolDigestData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/OciManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/OrasDiscoverData.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
Labels: untriaged

#1345 Support duplicate readme file names
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ModelExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishMcrDocsCommandTests.cs
Labels: untriaged

#1340 EOL annotations pipeline
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/pipelines/annotate-eol-digests.yml
Labels: untriaged

#1347 Allow readmes to have tags header w/o tags table
  src/Microsoft.DotNet.ImageBuilder/src/ReadmeHelper.cs
Labels: untriaged

#1352 Prepopulate credential cache for ACR
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Labels: untriaged

#1353 Only prepopulate creds cache when push enabled
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Labels: untriaged

#1354 Prepopulate token cache for publishManifest cmd
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Labels: untriaged

#1356 Move SB Artifact Publishing
  eng/common/templates/jobs/publish.yml
Labels: untriaged
