Repository dotnet/docker-tools, pull requests merged in 2024-03, with the labels that each got.

#1212 Convert upload-file pipeline to use 1ES templates
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/upload-file.yml
Labels: untriaged

#1215 Migrate to 1ES pipeline templates
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/build-test-publish.yml
  eng/pipelines/templates/variables/image-builder.yml
Labels: untriaged

#1214 Convert the check-base-image-updates pipeline to use 1ES templates
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Labels: untriaged

#1218 Convert the cg-detection pipeline to use 1ES templates
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/variables/codeql.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
Labels: untriaged

#1217 Fix pipeline stage names
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/upload-file.yml
Labels: area-infrastructure, untriaged

#1221 Refactor skipComponentGovernanceDetection variable handling
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
Labels: untriaged

#1223 Migrate eng-validation pipeline to 1ES unofficial template
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
Labels: untriaged

#1222 Update Microsoft.DotNet.VersionTools and force failure of file-pusher pipeline on error
  eng/src/file-pusher/file-pusher.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Labels: area-samples, untriaged

#1226 Move 1ES PT image definition inside internal project conditional
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: area-documentation, untriaged

#1229 Remove certain instances of Docker image cleanup
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/validate-image-sizes.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Labels: area-samples, untriaged

#1230 Always publish in directories instead of publishing individual files
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/test-images-linux-client.yml
Labels: untriaged

#1232 Backport changes from dotnet-framework-docker PR #1116
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Labels: untriaged

#1233 Use correct path to image-info for wait-for-image-ingestion step
  eng/common/templates/jobs/publish.yml
Labels: untriaged
